
    <?php include __DIR__ . '/partials/header.html'; ?>
        <?php include __DIR__ . '/partials/nav.html'; ?>
    <h1>LOGIN</h1>
    <form method="POST" action="\login">
      <h1>LOGIN</h1>

           <div class="messages">
    <?php if(isset($messages)) {
        foreach($messages as $message) {
            echo $message;
        }
    } ?>
</div>
      <input name="email" type="email" placeholder="Twój email" />
      <input name="password" type="password" placeholder="Twoje hasło" />
      <button type="submit">LOGIN</button>

      <a href="/register">zarejestruj się!</a>
    </form>

       <?php include __DIR__ . '/partials/footer.html'; ?>