    <?php include __DIR__ . '/partials/header.html'; ?>
        <?php include __DIR__ . '/partials/nav.html'; ?>
    <form method="POST" action="\register">
      <h1>REGISTER FORM</h1>

     <div class="messages">
    <?php if(isset($messages)) {
        foreach($messages as $message) {
            echo $message;
        }
    } ?>
</div>
      <input name="email" type="email" placeholder="Twój email" />
      <input name="password" type="password" placeholder="Twoje hasło" />
      <input name="password2" type="password" placeholder="Powtórz hasło" />
      <input name="username" type="text" placeholder="Username" />
      <button type="submit">REGISTER</button>
    </form>
 <?php include __DIR__ . '/partials/footer.html'; ?>